{% extends 'base/main.html' %}
{% block content %}
<div class="form_wrapper" style="width: 40%; height: min-content;padding-bottom: 10px; margin: auto; background-color: transparent; border-radius: 10px; box-shadow: 0px 0px 10px 5px rgb(240, 239, 239);">
    <h1>Email Confirmation Sent</h1>
    <p>An email has been sent to your email address. Please check your email to confirm your account.</p>
    <p>If you don't see the email in your inbox, please check your spam or junk folder.</p>
    <p>Once you've confirmed your email, you will be able to log in to your account.</p>
</div>
    
{% endblock content %}