{% extends 'base/main.html' %}
{% block content %}
<div class="form_wrapper" style="width: 40%; height: min-content;padding-bottom: 10px; margin: auto; background-color: transparent; border-radius: 10px; box-shadow: 0px 0px 10px 5px rgb(240, 239, 239);">
    <div class="container">
        {% load crispy_forms_tags %}
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock content %}